<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/index.css" type="text/css">
        <!-- <link rel="stylesheet" href="/styles.css" type="text/css"> -->
        <title>Página Inicial</title>
    </head>
<body>
  <%- include('partials/sidebar') %>
  <a href="criar-torneio" class="torneio_criar"><button><strong>Criar torneio</strong></button></a>
  <div class="content">
    <h1>Torneios disponíveis </h1>
    <% if(tornaments){ %>
      <% for (let i = 0; i < tornaments.length; i++) { %>
        <form action="" method="post">
          <li><%= tornaments[i].dataValues.name%> - <%= tornaments[i].dataValues.description %></li>
          <input style="visibility: hidden; display: none;" type="number" name="tournamentID" value=<%= tornaments[i].dataValues.id %>>
          <button value=<%= tornaments[i].dataValues.id %>>Participar do torneio</button>
        </form>
      <% } %>
    <% } %>
  </div>
</body>
</html>