<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/index.css" type="text/css">
        <link rel="stylesheet" href="/cards.css" type="text/css">
        <title>Página Inicial</title>
    </head>
<body>
  <%- include('partials/sidebar') %>
  <a href="criar-torneio" class="torneio_criar"><button><strong>Criar torneio</strong></button></a>
  <h1>Torneios disponíveis </h1>
  <div class="cards">
    <% if(tornaments){ %>
      <% let options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }; %>
      <% for (let i = 0; i < tornaments.length; i++) { %>
        <form action="" method="post" class="card">
          <a href="torneio?tournamentID=<%= tornaments[i].dataValues.id %>"><h2><%= tornaments[i].dataValues.name%> </h2></a>
          <p><b>Descrição:</b> <%= tornaments[i].dataValues.description %></p>
          <p><b>Número de times:</b> <%= tornaments[i].dataValues.numberOfTeams %></p>
          <p><b>Data de início: </b> <%= tornaments[i].dataValues.startTornament.toLocaleString('pt-BR', options); %></p>
          <p><b>Data do final: </b><%= tornaments[i].dataValues.endTornament.toLocaleString('pt-BR', options); %></p>
          <input style="visibility: hidden; display: none;" type="number" name="tournamentID" value=<%= tornaments[i].dataValues.id %>>
          <button value=<%= tornaments[i].dataValues.id %>>Participar do torneio</button>
        </form>
      <% } %>
    <% } %>
  </div>
</body>
</html>